body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#banner {
    background-image: url("./images/banner.jpg");
    opacity: 0.75;
    height: 500px;
}

#banner h1 {
    color: black;
    font-weight: bold;
    word-spacing: 25px;
    letter-spacing: 7px;
    align-items: center;
    text-decoration: underline;
}

