body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: ghostwhite;
    z-index: 1;
}

#banner {
    background-image: url("./images/banner.jpg");
    opacity: 0.75;
    height: 500px;
}

#banner-text {
    color: black;
    font-weight: bold;
    word-spacing: 25px;
    letter-spacing: 7px;
    align-items: center;

}

#section-heading {
    color: black;

    word-spacing: 15px;
    letter-spacing: 4px;
    align-items: center;
}

#gallery {
    background-color: gainsboro;
}

#contact-us {
    height: 300px;
}

